appnope==0.1.2
asn1crypto==1.2.0
backcall==0.2.0
certifi==2020.12.5
cffi==1.13.0
chardet==3.0.4
click==6.7
conda==4.9.2
conda-package-handling==1.6.0
cryptography==2.8
decorator==4.4.2
Flask==1.1.2
Flask-Uploads==0.2.1
gunicorn==19.7.1
idna==2.7
ipykernel==5.3.4
ipython==7.21.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.17.2
Jinja2==2.10.1
jupyter-client==6.1.7
jupyter-core==4.7.1
MarkupSafe==1.0
numpy==1.18.2
pandas==1.0.3
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.8
ptyprocess==0.7.0
pycosat==0.6.3
pycparser==2.19
Pygments==2.8.0
pyOpenSSL==19.0.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2017.2
pyzmq==18.1.1
requests==2.20.0
ruamel-yaml==0.15.46
six==1.12.0
tornado==6.1
tqdm==4.36.1
traitlets==5.0.5
urllib3==1.24.2
wcwidth==0.2.5
Werkzeug==1.0.1
