<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<div class="center-on-page">  
<h1>Sleep Analysis App</h1> 


<form class="form-inline" method="POST" action="{{ url_for('show') }}">

        <label for="inputpath">Directory Location:</label>
        <input type="text" id="inputpath" name="inputpath" required
        minlength="2" maxlength = "80" placeholder = "X:\Studies\Subjects">

        <button type="submit" class="btn" onclick="{{ url_for('show')}}">Go</button> 

        <div>
                <p class="blue" name="displayed_text">{{ display }} </p>
        </div>

</form>
