<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<div class="center-on-page">  
<h1>Sleep Analysis App</h1>


<form class="form-inline" method="POST" action="{{ url_for('result') }}">

        <label for="inputpath">Directory Location:</label>

        <input type="text" id="inputpath" name="inputpath" required
        minlength="4" maxlength = "200" placeholder = "X:\">
        <button type="submit" class="btn">Go</button> 

    
</form>

